version: '3.8'
services:
  mongodb:
    image: mongo:7.0.25
    container_name: mongodb
    restart: always
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: mi-user
      MONGO_INITDB_ROOT_PASSWORD: 123456789

  backend:
    build: ./backend
    container_name: backend
    restart: always
    ports:
      - '5000:5000'
    depends_on:
      - mongodb
    volumes:
      - ./backend:/app
    command: npm rund dev

volumes:
  mongo-data: